@font-face {
    font-family: 'Japandi';
    src: local('Japandi Bold'), local('JapandiBold'),
    url('./../../../assets/fonts/JapandiBold.woff2') format('woff2'),
    url('./../../../assets/fonts/JapandiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Japandi';
    src: local('Japandi'), local('JapandiRegular'),
    url('./../../../assets/fonts/JapandiRegular.woff2') format('woff2'),
    url('./../../../assets/fonts/JapandiRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



.postCard{
    width: 85vw;
    min-height: 35vh;
    background-color: #1E1E1E;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}
.cardHeader{
    width: 100%;
    height: 20%;

    background-color: transparent;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius:8px 8px 0 0;
}
.cardHeaderQuestion{
   background-image: urL("./../../../assets/images/icons/headerBgQuestion.svg");
}
.cardHeaderChallenge{
   background-image: urL("./../../../assets/images/icons/headerBgChallenge.svg");
}
.postCardTitle{
    font-family: 'Japandi',sans-serif;
    margin: 2%;
    font-size: 5.5vw;
}
.postCardContent{
    color:#C1C1C1;
    font-family: 'Japandi',sans-serif;
    margin: 2%;
    font-size: 4vw;
}
.postCardButtonOutsideContainer{
    width: 100%;
    height: 22%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;


}
.postCardButtonInerContainer{
    width: 55%;
    height: 55%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3vw;
}
.cardPostAddButton{
    width: 6.8vh;
    height: 6.8vh;
    border: none;
    background-color: transparent;
    background-image: urL("./../../../assets/images/icons/AddPostBtn.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5vw;

}
.postCardActionButton{
    width: 8.5vw;
    height: 8.5vw;
    background-color: transparent;
    border:none;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#postCardLike{

    background-image: urL("./../../../assets/images/icons/postCardLike.svg")
}


#postCardSave{

    background-image: urL("./../../../assets/images/icons/postCardSave.svg")
}
#postCardShare{

    background-image: urL("./../../../assets/images/icons/postCardShare.svg")
}
#postCardBan{
    background-image: urL("./../../../assets/images/icons/postCardBan.svg")
}
